<!-- <nav>
  <span>
    <a [routerLink]=" ['./'] ">
      Index
    </a>
  </span>
  |
  <span>
    <a [routerLink]=" ['./home'] ">
      Home
    </a>
  </span>
  |
  <span>
    <a [routerLink]=" ['./detail'] ">
      Detail
    </a>
  </span>
  |
  <span>
    <a [routerLink]=" ['./about'] ">
      About
    </a>
  </span>
</nav> -->

<!-- <nav class="navbar navbar-fixed-top navbar-light bg-faded navbar-dark">
  <a class="navbar-brand">Fixed top</a>
</nav> -->

<navbar></navbar>

<main>
  <router-outlet></router-outlet>
</main>

<pre class="app-state">this.appState.state = {{ appState.state | json }}</pre>

<footer>
  <span>WebPack Angular 2 Starter by me <a [href]="url">@AngularClass</a></span>
  <div>
    <a [href]="url">
      <img [src]="angularclassLogo" width="25%">
    </a>
  </div>
</footer>